* {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.working-field {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    border-radius: 10px 10px 0px 0px;
    width: 444px;
    margin: auto;
    margin-top: 3em;
    background-color: #464649;
}

.working-field input {
    background-color: #c2c2c200;
    color: white;
    font-size: 35px;
    border: 0;
    padding: 0.3em;
    width: 20px;
}

.grid-container {
    display: grid;
    background-color: #464649;
    gap: 3px;
    padding: 3px;
    border-radius: 0px 0px 10px 10px;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(5, 60px);
}

.grid-btn {
    cursor: pointer;
    display: grid;
    place-content: center;
    border: 0;
    color: white;
    font-size: 1.2em;
    background-color: #585b5c;
    transition: background-color 0.1s ease-in-out;
}

button.grid-btn.clicked {
    background-color: #585b5c8d;
}

.grid-btn:nth-child(29) {
    border-radius: 0px 0px 0px 7px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-btn:nth-child(35) {
    border-radius: 0px 0px 7px 0px;
}

button.grid-btn:nth-child(29) {
    background-color: #6262a4;
    cursor: default;
}

.grid-btn.primary {
    background-color: #767778;
}

.grid-btn.actions {
    background-color: #f1a338;

}

.grid-btn.grid-btn.actions:last-child {
    border-radius: 0px 0px 7px 0px;

}

.grid-btn:nth-child(30) {
    grid-column-start: 4;
    grid-column-end: 6;
}